<form style="align-items: center; text-align:center; justify-content: space-around;" action="/api/signup" method="POST">
  <h1>Register</h1>
  
  <div>
    <label style="margin-bottom:15px ;" for="userName">userName</label>
    <input style="margin-bottom:15px;margin-top:5px;"  type="text" id="userName" name="userName" required>
  </div>
  <div>
    <label style="margin-bottom:15px;"  for="email">email</label>
    <input style="margin-bottom:15px;"  type="text" id="email" name="email" required>
  </div>
  <div>
    <label style="margin-bottom:15px;"  for="password">password</label>
    <input style="margin-bottom:15px;"  type="password" id="password" name="password" required>
  </div>
  <div>
    <label style="margin-bottom:15px;"  for="role">role</label>
    <input style="margin-bottom:15px;"  type="text" id="role" name="role" required>
  </div>
  <div>
    <label style="margin-bottom:15px;"  for="phone">phone</label>
    <input style="margin-bottom:15px;"  type="text" id="phone" name="phone" required>
  </div>
  
  <button style="margin: auto;"  type="submit">Register</button>
  <a href="/login">Login</a>
</form>
